body{
    font-family: Roboto, arial;
    margin: 0px;    
}

.page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    padding-top: 100px;
    padding-left: 95px;
    background-color: rgb(228, 226, 225);
}
@media (max-width: 800px) {
    .page{
        grid-template-columns: 1fr 1fr;
    }
}


.video{
    display: inline-block;
    position: relative;
}
.thumbnail-row{
    margin-bottom: 12px;
    position: relative;
}
.video-time{
    color: white;
    background-color: black;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right:5px;
    padding: 2px 2px 4px 4px;
}
.thumbnail{
    width: 100%;
}

.caption{
    display: flex;
    flex-direction: row;
}
.dp{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;  
    margin-right: 10px;
}

.heading{
    margin-top: 12px;
    margin-bottom: none;
    width: 250px;
    font-size: 14px;
    font-weight: bold;
}

.name{
    font-size: 12px;
    margin-top: 8px;
    color: gray;
    margin-bottom: 0px;
}

.sub{
    font-size: 12px;
    margin-top: none;
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
}